.board {
  &__wrapper {
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__grid_container {
    padding: 50px;
    border-radius: 4px;
    border: 1px solid #333333;
    
    position: relative;
  }
  
  &__grid {
    display: grid;
  }
}